@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .main {
  flex: 1 1 auto;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
  font-family: Poppins;
}

[class*='__conteiner'] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

@font-face {
  font-family: 'CalSans';
  font-display: swap;
  src: url('../fonts/CalSans-SemiBold.woff2') format('woff2'),
    url('../fonts/CalSans-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body {
  color: #666666;
}

.main__title {
  font-family: CalSans;
  color: #121212;
}
.main__title span {
  color: #ff6428;
}

.favorite__title,
.reviews__title,
.why__title {
  text-align: center;
  font-family: CalSans;
  color: #121212;
  font-size: 34px;
  line-height: 1.2;
}
.favorite__title span,
.reviews__title span,
.why__title span {
  color: #ff6428;
}

.categori__information div {
  font-family: CalSans;
  color: #ff6428;
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
}
.categori__information span {
  color: #121212;
  font-weight: 500;
}

.main__informations li {
  font-family: CalSans;
  color: #ff6428;
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
}
.main__informations div {
  color: white;
  font-weight: 500;
  padding-top: 3px;
}

.menu__link-categori a {
  text-decoration: none;
  color: white;
}
.menu__link-categori a:hover {
  color: #ff6428;
}

.menu__item-button._showcategori {
  display: block;
}

@keyframes menuCategori {
  0% {
    transform: rotateY(90deg);
  }
}

.categori__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}

.categori__image {
  max-width: 100%;
  text-align: center;
}

h5 {
  margin-bottom: 10px;
}

.main__informations {
  margin-left: -50%;
  color: white;
  background-color: #606060;
  transition: all 4s ease 0s;
}

.categori__block._active .categori__information {
  display: none;
}

.categori__block._active .main__informations {
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  display: block;
  padding: 10px 10px;
  transition: all 4s ease 0s;
  border-radius: 5px;
  animation: mainInform 1.8s;
  border-radius: 15% 50% 15% 15%;
}

@keyframes mainInform {
  0% {
    transform: rotateY(90deg);
  }
}
.menu__informations {
  text-align: center;
}

.menu__button {
  display: grid;
  align-items: center;
  width: 100%;
  max-height: 45px;
  min-height: 45px;
  border-radius: 40px;
  background-color: #ff6428;
}

.categori__block._active .menu__informations .menu__button :first-child {
  display: none;
}
.categori__block._active .menu__informations .menu__button :last-child {
  display: block;
  animation: buttonShow 1.8s;
}

@keyframes buttonShow {
  0% {
    transform: rotateY(90deg);
  }
}
.open__button {
  font-size: 18px;
  text-align: center;
  color: #ffff;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1092px) {
  .categori__information {
    font-size: 13px;
  }

  .open__button {
    font-size: 13px;
  }

  .categori__block {
    gap: 10px;
  }
}
@media (max-width: 991.98px) {
  .categori__block {
    gap: 10px;
  }

  .main__informations {
    font-size: 13px;
  }
}
@media (max-width: 849.98px) {
  .open__button {
    font-size: 10px;
  }

  .categori__price {
    font-size: 13px;
  }
}
.full-screen {
  position: relative;
  min-height: 65vh;
  display: none;
  width: 100%;
}
.full-screen__body {
  padding: 50px 15px;
  background-color: rgba(0, 0, 0, 0.07);
  color: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
.full-screen__tittle {
  text-align: center;
  font-size: 20px;
  letter-spacing: 15px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.full-screen__text {
  padding-top: 170px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 5px;
}
.full-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .header,
  .main__content {
    display: none;
  }
  .full-screen {
    display: flex;
    min-height: 1vh;
    min-width: 1vh;
  }
  .main__informations {
    font-size: 20px;
  }

  .open__button {
    font-size: 20px;
  }

  .categori__price {
    font-size: 20px;
  }

  .categori__information {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  .categori__information {
    font-size: 11px;
    max-width: 162px;
    min-height: 157px;
  }
  .header,
  .main__content {
    display: none;
  }
  .main__informations {
    font-size: 13px;
  }

  .open__button {
    font-size: 11px;
  }
}
li {
  list-style: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__conteiner {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 100px;
  align-items: center;
  min-height: 152px;
}

.header__logo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__logo__text {
  font-family: CalSans;
  font-weight: 600;
  color: #121212;
  size: 24px;
}

.menu {
  padding: 10px 15px 0px 0px;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .favorite__title,
  .reviews__title,
  .why__title {
    font-size: 28px;
  }
}
.page {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  column-gap: 56px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.menu__link {
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  font-weight: 500;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  font-weight: bold;
}
.menu__item {
  transition: 0.8s;
}

.menu__item:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.8s;
}

@media (max-width: 1092px) {
  .header__conteiner {
    gap: 50px;
    min-height: 100px;
  }

  .menu__list {
    gap: 30px;
  }
}
@media (max-width: 479.98px) {
  .menu__list {
    padding-top: 7px;
  }

  .menu {
    padding: 0;
  }
}
.decor-image {
  border-radius: 0 0 151px 360px;
}

.main {
  padding-bottom: 80px;
}

@media (max-width: 991.98px) {
  .main {
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-bottom: 30px;
  }
}
.main__conteiner {
  display: flex;
}

.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 20px;
}

.main__title {
  font-size: 56px;
  line-height: 1.2;
}

.main__title:not(:last-child) {
  margin-bottom: 16px;
}

.main__text {
  line-height: 24px;
  font-weight: 500;
  max-width: 420px;
}

.main__text:not(:last-child) {
  margin-bottom: 31px;
}

.actions-main {
  display: grid;

  align-items: center;
}
.actions-main:not(:last-child) {
  padding-bottom: 20px;
}

.actions-main__button {
  text-align: center;
  padding: 18.5px 48px;
  border-radius: 40px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  color: #ffff;
  line-height: 28px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  font-size: 30px;
  transition: 0.8s;
}
.footer__buy-mobile {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 18.5px 48px;
  border-radius: 40px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  color: #ffff;
  line-height: 28px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  font-size: 30px;
  transition: 0.8s;
}

.actions-main__button:hover {
  transform: scale(1.1);
}
.cost {
  box-shadow: 2px 8px 11px #000000b5;
  background-color: #bfec1d;
  text-align: center;
  padding: 18.5px 22px;
  border-radius: 40px;
  color: black;
  line-height: 28px;
  font-weight: 600;
  font-size: 24px;
  width: 50vh;
  margin: 0 auto;
  font-family: CalSans;
}
.cost__mobile-display {
  box-shadow: 2px 8px 11px #000000b5;
  background-color: #bfec1d;
  text-align: center;
  padding: 18.5px 22px;
  border-radius: 40px;
  color: black;
  line-height: 28px;
  font-weight: 600;
  font-size: 24px;
  margin: 0 auto;
  font-family: CalSans;
}
.cost__mobile__conteiner {
  display: none;
}
.actions-main__button:not(:last-child) {
  margin-right: 40px;
}

.actions-main__icon:not(:last-child) {
  margin-right: 27px;
}

.main__decor {
  flex: 0 1 50%;
}

.main__image {
  position: relative;
  margin-right: -135px;
  padding-bottom: 97.6%;
}
.main__image img {
  max-width: 672px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 0 0 160px 375px;
}

.second__buttefly {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  right: 36.3%;
  bottom: 0;
  transform: translate(0, 50%);
  position: absolute;
  background-color: white;
}
.second__buttefly img {
  padding: 26px;
  border-radius: 0;
}

@media (max-width: 1092px) {
  .main__image img {
    width: 100%;
  }

  .main__content {
    flex: 0 0 60%;
    padding-bottom: 0;
  }

  .main__decor {
    flex: 0 0 40%;
  }
}
@media (max-width: 767.98px) {
  .main__decor {
    display: none;
  }
  .cost__mobile__conteiner {
    display: flex;
  }
  .main__title {
    font-size: 44px;
  }
}
@media (max-width: 479.98px) {
  .actions-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .actions-main__button {
    flex: 1 1 100%;
  }

  .actions-main__button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.why {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  padding-top: 15px;
}

.why__title {
  margin-bottom: 10px;
  color: white;
}

.why__items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 30px;
}

.item-why {
  display: grid;
  justify-items: center;
  padding: 40px;
  text-align: center;
}

.item-why__icon {
  border: 2px dashed black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
}

.item-why__icon:not(:last-child) {
  margin-bottom: 40px;
}

.item-why__title {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.08em;
}
.item-why__title:not(:last-child) {
  margin-bottom: 12px;
}

.item-why__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: black;
}

@media (max-width: 991.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .why__items {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 767.98px) {
  .item-why {
    padding: 20px;
  }

  .why__items {
    grid-template-columns: repeat(1, auto);
    justify-content: stretch;
  }
}
.reviews {
  padding-top: 40px;
  padding-bottom: 80px;
}

.reviews__title {
  margin-bottom: 100px;
}

.swiper-reviews__slide.slide-swiper-reviews {
  display: flex;
}

.slide-swiper-reviews__picrute {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide-swiper-reviews__image {
  width: 320px;
  height: 320px;
  position: relative;
}
.slide-swiper-reviews__image img {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: center;
}
.slide-swiper-reviews__image::before {
  content: '';
  position: absolute;
  width: 285px;
  height: 257px;
  top: 50px;
  left: -80px;
  transform: rotate(-10deg);
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  border-radius: 40px 0 400px 400px;
}

.slide-swiper-reviews__body {
  flex: 0 1 50%;
}

.slide-swiper-reviews__text {
  font-style: 24px;
  line-height: 160%;
}
.slide-swiper-reviews__text:not(:last-child) {
  margin-bottom: 56px;
}
.slide-swiper-reviews__text p:not(:last-child) {
  margin-bottom: 15px;
}

.slide-swiper-reviews__position {
  font-size: 18px;
  color: #868686;
  letter-spacing: 0.08em;
  font-weight: 500;
  text-transform: uppercase;
}

.swiper-reviews__pagination {
  display: flex;
  justify-content: flex-end;
  transform: translate(0, -100%);
}
.swiper-reviews__pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #c4c4c4;
  border-radius: 20px;
  flex: 0 0 10px;
  height: 16px;
  transition: all 0.3s ease 0s;
}
.swiper-reviews__pagination .swiper-pagination-bullet-active {
  background-color: #ff6428;
  flex: 0 0 24px;
}

@media (max-width: 1230px) {
  .reviews__swiper.swiper {
    margin-left: -15px;
  }
}
@media (max-width: 991.98px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .reviews__title {
    margin-bottom: 50px;
  }

  .slide-swiper-reviews__body {
    padding-left: 15px;
  }

  .slide-swiper-reviews {
    flex-direction: column;
  }

  .slide-swiper-reviews__picrute {
    margin-bottom: 25px;
  }

  .swiper-reviews__pagination.swiper-pagination {
    position: relative;
    justify-content: center;
    transform: translate(0, 0);
    bottom: 0;
    padding-top: 35px;
  }
}
@media (max-width: 767.98px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reviews__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .slide-swiper-reviews__image {
    width: 270px;
    height: 270px;
  }

  .slide-swiper-reviews__image::before {
    content: '';
    position: absolute;
    width: 225px;
    height: 187px;
    top: 50px;
    left: -80px;
    transform: rotate(-10deg);
    background-color: #ff6428;
    border-radius: 40px 0 400px 400px;
  }

  .slide-swiper-reviews__text {
    font-size: 18px;
  }
  .slide-swiper-reviews__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
.favorite__title {
  text-align: center;
  font-size: 38px;
  line-height: 140%;
}
.favorite__title:not(:last-child) {
  margin-bottom: 60px;
}

.favorite {
  padding-bottom: 120px;
}

.favorite__conteiner {
  display: flex;
  position: relative;
  margin-top: 20px;
}

.favorite__body {
  flex: 0 1 50%;
}
.favorite__apps {
  position: relative;
  text-align: center;
  padding: 65% 0px 0px 0px;
}
.favorite__apps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form__main {
  flex: 0 1 50%;
  text-align: center;
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .favorite {
    padding-bottom: 50px;
  }

  .favorite__conteiner {
    flex-direction: column;
  }

  .favorite__title {
    font-size: 28px;
  }
  .favorite__title:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .favorite {
    padding-bottom: 30px;
  }
  .favorite__title {
    font-size: 23px;
  }
}

@media (max-width: 500.98px) {
  .slide-swiper-reviews__text p {
    font-size: 26px;
  }
  .favorite__title {
    font-size: 18px;
  }
}

/* FORM ---------------------------------*/
.form * {
  outline: none;
}
.form__main {
  margin: 25px 0 0 20px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
}

.form__body {
  color: white;
  padding: 45px;
  margin-top: 20px;
}
.form__blocks {
  margin-top: 20px;
}

.input__block {
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: 0 0 7px #010101;
  margin-bottom: 10px;
  transition: all 0.5s ease 0s;
}
.input__block:focus {
  box-shadow: 0 0 15px #7a965b;
}
.input__block._error {
  box-shadow: 0 0 10px 5px red;
}
.value {
  padding-bottom: 5px;
}
.value__block {
  border-radius: 20px;
  padding: 4px 9px;
  box-shadow: 2px 6px 7px #912929;
  margin-bottom: 30px;
}

.button__block button {
  cursor: pointer;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  padding: 8px 18px;
  box-shadow: 2px 6px 7px #912929;
  margin-bottom: 30px;
}
.button__block {
  transition: 0.8s;
}

.button__block:hover {
  transform: scale(1.2);
}

@media (max-width: 991.98px) {
  .form__main {
    margin: 25px 0 0 0px;
  }
}

.alert-success {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  border-radius: 20px;
  padding: 8px 18px;
  box-shadow: 2px 6px 7px #912929;
}
.alert-success span {
  color: black;
}

.form__price {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.form__price-standard {
  border-radius: 20px;
  padding: 5px 10px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  box-shadow: 2px 6px 7px #912929;
}
.form__price-total {
  border-radius: 20px;
  padding: 5px 10px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  box-shadow: 2px 6px 7px #912929;
}
.form__price-total span {
  color: black;
}
@media (max-width: 482px) {
  .form__price {
    font-size: 12px;
    padding: 20px 5px;
  }
}

/* ---------------------------------*/

/* feature------------------------------ */
.feature__body {
  display: flex;
  flex: 0 1 50%;
}
.feature__body img {
  width: 100%;
}
.feature__conteiner {
  margin-bottom: 20px;
  position: relative;
  flex: 0 1 50%;
}
.informations {
  font-size: 14px;
  color: white;
  width: 50%;
  margin-left: 20px;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.information__block-main {
  padding-left: 5px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(93, 93, 93);
}
.information__block-text {
  padding-left: 5px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(93, 93, 93);
}
.feature-title {
  margin-bottom: 40px;
}

@media (max-width: 991.98px) {
  .feature__body {
    flex-direction: column;
    gap: 10px;
    margin: 25px 0 0 0px;
  }
  .informations {
    width: 100%;
    margin-left: 0px;
    height: 100vh;
    font-size: 12px;
  }
}
/* ---------------------------------*/
